 @import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

.stl-body{
  background: linear-gradient(to right, rgb(8, 153, 153), rgb(0, 0, 0), rgb(193, 55, 248));

}

.parrafo-cards {
  font-family: 'Heebo', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Teko', sans-serif;
}

h5 {
  font-family: 'Nova Square', sans-serif;
}

.parrafo {
  font-family: "Teko"; sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@500&display=swap');

#body-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://png.pngtree.com/background/20230519/original/pngtree-display-of-old-games-and-consoles-picture-image_2652598.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%; 
  margin: 0; 
  display: flex;
  flex-direction: column;
}

#body-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8bbcad8e-79dd-41ee-b6a0-a19bdaf30b00/debejt5-7b17e0ba-bf71-4c1f-a613-d4638ac45d05.png/v1/fill/w_1192,h_670,q_70,strp/sony_playstation_symbols_4k_wallpaper_by_arturscc_debejt5-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE2MCIsInBhdGgiOiJcL2ZcLzhiYmNhZDhlLTc5ZGQtNDFlZS1iNmEwLWExOWJkYWYzMGIwMFwvZGViZWp0NS03YjE3ZTBiYS1iZjcxLTRjMWYtYTYxMy1kNDYzOGFjNDVkMDUucG5nIiwid2lkdGgiOiI8PTM4NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.802HHFSieOQ-jKA2eQMk_GiJ0mKvm_6fvqw3nq3GjYM);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  margin: 0; 
  display: flex;
  flex-direction: column;
}

#body-img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cloudfront-us-east-1.images.arcpublishing.com/copesa/JRVRFF65PNAJ5PU4JCRHYFJRP4.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
}

.footer-align {
  margin-top: 375px;
}

.parrafo-gap {
  margin-left: 50px;
}

.texto-grande {
  font-size: 25px;
}

.h2-texto {
  color: chocolate;
  font-family: 'Nova Square', sans-serif;

}

.h1-font {
  font-family: 'Nova Square', sans-serif;
  color: purple
}



h2 {
  color: rgb(184, 28, 54)
 
}

h3 {
  color: aqua;
}


.footer-ancho {
  width: 100%;
}

.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav-item {
  font-family: "Oswald", sans-serif;
}

.color-fuente
 {color: rgb(31, 180, 143);
}

.h2-color {
  color: #d937ee;
  font-family: 'Nova Square', sans-serif;

}

.container-redes {
  display: flex;
  gap: 30px;
  margin-right: 20px;
}

#icon-redes img {
  width: 70px; 
  height: 50px;
}

#icon-redes:hover img{
  background-color: #081194;
  width: 65px;
  height: 65px;

}

.imagenMediana {
    width: 600px;
    height: 300px;
}
iframe {
    width: 800px;
    height: 500px;
    border: 3px solid;
}
.video-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 500px;

}

.video-container video{
  width: 100%; 
  max-width: 100%; 
}

body {
  background: linear-gnt(to right, rgb(8, 153, 153), rgb(0, 0, 0), rgb(193, 55, 248));

}

#fondo-productos {
  background-color: rgb(34, 9, 58);;
}

#container-img {
  margin-top: 50px;
}

.tamaño-img {
  width: 500px;
  height: 500px;
}


.titulo-cen {
  text-align: center;
  margin-top: 300px;
}

.contenedor {
    text-align: center;
  }

.logo-container img{
    margin-left: 30px;
}

.logo-nav{
  width: 90px;
  height: 75px;
  margin-right: 100px;
}

.navegacion {
  text-align: center;
}

.navegacion img{
  width: 50px;
  height: 50px;
}
.navegacion__nav {
  display: flex;
  justify-content: space-around;

  list-style: none;
  width: 100%;
}



nav.navegacion {
  width: 100%;
  height: 90px;
  background: linear-gradient(to right, rgb(160, 42, 207), rgb(238, 21, 191), aqua);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav_producto{
  background-color:rgb(126, 52, 141);
  color: #5070da;
}

#nav_producto a{
  text-decoration: none;
}

#nav_producto:hover a{
  color: white;
  background-color: #081194;
}
.navegacion__nav .nav__item {
  margin-left: 10px;
  padding: 10px;
}



iframe {
  max-width: 100%;
}



.nav_item {

  display: block;
  margin-bottom: 100px;
  
}

.nav-item a{
  text-decoration: none;
}


.navegacion .logo__container {
  padding: 0 10px;
 
  display: flex;
  align-items: center;
  gap: 10px;
  

  width: 50%;
}



.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(156, 60, 60)
  z-index: 100;

}

.nav-item  {
  display: inline-block; 
  padding: 20px 50px; 
  margin-right: 10px; 
  border: 1px solid #000000; 
  background-color: #d937ee; 
  color: #5070da; 
  transition: background-color 0.3;
  
}

.nav-color {
  background: linear-gradient(to right, rgb(160, 42, 207), rgb(238, 21, 191), aqua);


}



.nav_redes {
  width: 50px;
  height: 10px;

}

.box-icons {
  width: 50px;
  height: 30px;
}

.contacto {
  display: flex;
  align-items: center;
}

.contacto a {
  display: block;
  margin-right: 10px;
}

.contacto img {
  width: 35px;
  height: 35px;
}

.mapa-container {
  width: 1400px; 
  height: 750px; 
  float: right; 
}

.container {
  display: flex
  justify-content: space-between;
  margin: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  height: 200px; 
  background-color: hsla(182, 69%, 37%, 0.596);
}

.flex-item {
  flex: 1;
  margin: 25px;
  padding: 30px;
  border: 1px solid #085c94;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  height: 500px;
  gap: 40px;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  padding: 50px;
  border: 4px solid #1a5f7a;
  border-radius: 20px;
} 

.grid-container-media {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px; 

  
  justify-content: center; 
  align-items: center; 
}

.contenedor-flex {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-top: 250px;
}

.contenedor-flex img {
  max-width: 100%; 
  height: auto; 
}

.nav-item:hover {
 color: aqua;
 background-color: #081194;
}

.nav-item:hover a{
  color: white;
}
@media screen and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

img {
  max-width: 100%;
  height: auto;
}

.aparecer {
  opacity: 0;
  animation: aparecer 1s ease-in-out forwards;
}

@keyframes aparecer {
  to {
    opacity: 2;
  }
}

.deslizar {
  transform: translateY(100px);
  animation: deslizar 1s ease-in-out forwards;
}

@keyframes deslizar {
  to {
    transform: translateY(0);
  }
}

@keyframes cambioColor {
  0% {
    background-color: rgb(5, 74, 121);
  }
  50% {
    background-color: rgb(21, 125, 167);
  }
  100% {
    background-color: rgb(5, 74, 121)
  }
}

.animacion-color {
  animation: cambioColor 2s infinite;
}


.custom-card {
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  
}

.custom-card:hover {
  transform: scale(1.05);
}

.custom-card img {
  border: 2px solid #8b3b8b;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

.custom-card .card-body {
  background-color: rgb(66, 224, 245);
}

.custom-card .card-title {
  color: rgb(181, 18, 196);
}

.custom-card .card-text {
  color: #15069e;
  font-size: 19px;
}

.card-img-top {
  background-color: transparent; 
  background-color: rgb(18, 2, 32);
}

.card-img-inicio {
  background-color: transparent; 
  background-color: rgb(14, 185, 99);
}